.App {
  text-align: center;
  min-height: 100vh; /* Ensures the full height of the viewport is used */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the footer to the bottom */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer styles */
.footer {
  width: 100%;
  height: 60px;
  padding: 10px 10px;
  background: linear-gradient(45deg, #FF0000, #FFFFFF); /* Red and white gradient */
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure the footer spans the entire width */
}

.footer:hover {
  background: linear-gradient(135deg, #FFFFFF, #FF0000); /* Change gradient on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}
